.content-grid-container
    display: grid
    width: 85vw
    max-width: 50rem 
    grid-template-columns: 2fr 1fr 
    grid-gap: 1rem
    grid-template-rows: auto

.tile-grid-container
    display: grid
    width: 85vw
    max-width: 50rem
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 1rem
    grid-template-rows: auto
    
.first-column
    grid-column: 1 / 2

.second-column
    grid-column: 2 / 3

.first-two-columns 
    grid-column: 1 / 3

.first-row
    grid-row: 1 / 2

@media screen and ( max-width: 770px )
    .content-grid-container
        grid-template-columns: 1fr
    .content-grid-second-column
        grid-column: 1 / 2
    
    .tile-grid-container
        grid-template-columns: 1fr 1fr