$nav-hover-height: .4rem

nav ul
    display: flex
    flex-direction: row
    justify-content: space-between
    list-style: none
    padding: 0
    margin: 2rem 0 (2rem - $nav-hover-height) 0

nav ul li
    margin: 0
    padding: 0

ul li a
    text-decoration: none
    color: black
    z-index: 2

ul li a:visited
    color: black

ul li a::after
    content: ""
    display: block
    width: 100%
    height: $nav-hover-height
    opacity: 0
    background: $color-1
    transition: opacity 150ms cubic-bezier(0.4, 0.0, 1, 1), transform 180ms cubic-bezier(0.4, 0.0, 1, 1) 

ul li a:hover::after
    opacity: .6
    z-index: 1
    transform: translateY(-.4rem)
    transition: opacity 180ms cubic-bezier(0.0, 0.0, 0.2, 1), transform 200ms cubic-bezier(0.4, 0.0, 1, 1) 

ul li a:active
    color: $color-2