@import contentGrid

body, html
    width: 100vw
    margin: 0
    padding: 0
    font-size: 16px
    overflow-x: hidden

.wrapper
    position: absolute
    left: 50%
    transform: translateX(-50%)


article img

    width: 100%
    object-fit: cover
    object-position: 0 65%
    height: 15rem
